header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;

  div.header_logo-container {
    float: left;
  }

  ul.social_media-list {
    position: relative;
    float: right;
  }

  nav {
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }

    li {
      float: right;
    }

    li a {
      display: block;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #C1C1C1
    }
  }
}